<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="text/html: charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Yang Family College Bowl Picker</h1>
    <h2>Hello, <%= @user.email %>!</h2>
    <p>If you're getting this email it means you have made all your picks in the bowl challenge!  Remember you can still change your mind up to the deadline!</p>

    <h4><a href="http://college-bowl-picker.herokuapp.com">http://college-bowl-picker.herokuapp.com</a></h4>

    <h4>PICKS ARE DUE BY 11:59pm FRIDAY DECEMBER 18TH! (you can edit/update your picks on the site until then)</h4>

    <p>Matt</p>

  </body>
</html>

