<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="text/html: charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Yang Family College Bowl Picker</h1>
    <h2>Hello, <%= @user.email %>!</h2>
    <p>Below you'll find a link to the web site I hacked together that will hopefully make keeping track of this bowl challenge a little easier.  This was put together pretty quickly by modifying another project I was working on , so <a href="mailto:yang70@gmail.com">let me know</a> if you come across any bugs! I'll be refining the style but thought I would push this out so people could start getting their picks in.</p>

    <p>Your login information is below, make sure to update your password when you log in, you don't want Bob to be able to log in and change your picks! Once you're logged in there will be an "Update Password" link at the top of the page.</p>

    <h4><a href="http://college-bowl-picker.herokuapp.com">http://college-bowl-picker.herokuapp.com</a></h4>
    <h4><strong>Username: </strong><%= @user.email %></h4>
    <h4><strong>Password: </strong>changeme</h4>

    <h4>PICKS ARE DUE BY 11:59pm FRIDAY DECEMBER 18TH! (you can edit/update your picks on the site until then)</h4>

    <p>Thanks again to Bob for puting this together!</p>

    <p>Matt</p>

  </body>
</html>
